@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(249, 248, 248);
	background-image: radial-gradient(rgba(209, 207, 207, 0.482) 1px, transparent 0);
	background-size: 16px 16px;
	background-position: -19px -19px;
}

#gradient-canvas {
	--gradient-color-1: #31f0c9;
	--gradient-color-2: #b213f6;
	--gradient-color-3: #98bdaf;
	--gradient-color-4: #c29fcb;
	z-index: -1;
	-webkit-mask-image: radial-gradient(3000% 100% at bottom, transparent 0%, #fff 50%);
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media screen and (min-width: 1024px) {
  .main-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}